body{
	background-color: black;
}
/*____________LANDING____________*/

.landing-page{
	height: 760px;
	background-image: url("./img/retina_wood.png");
}
.landing-title{
	height: 60px;
	text-align: center;
	letter-spacing: 15px;
	margin-top: 100px

}


.landing-body{
	margin-top: 100px;
}

.landing-black{
	height: 300px;
	background-image: url("./img/blackjack.png");
	background-size: cover;
	background-position: center;
	box-shadow: 10px 10px 5px grey;
	padding: 0px;
}

.landing-toe{
	height: 300px;
	background-image: url("./img/tictactoe.png");
	background-size: cover;
	background-position: center;
	box-shadow: 10px 10px 5px grey;
	padding: 0px;
}

.landing-bj-hover{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.landing-toe-hover{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.landing-bj-name{
	font-size: 25px;
	color: white;
	text-align: center;
	letter-spacing: 12px;
	padding-top: 90px;
}

.landing-toe-name{
	font-size: 24px;
	color: white;
	text-align: center;
	letter-spacing: 9px;
	padding-top: 90px;
}

.home{
	margin-top: 4px;
}


/*____________BLACKJACK____________*/

.bj-top{
	background-color: black;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 30px;
	color: white;
	letter-spacing: 15px;
}

.bj-body{
	width: 950px;
	height: 640px;
	margin: auto;
}

.bj-bot{
	background-color: black;
	width: 100%;
	height: 60px;
}

.blackjack{
	background-image: url("./img/binding_dark.png");
}

.bj-table{
	background-image: url("./img/blackjack_table.png");
  background-size: cover;
  background-position: center;
	height: 540px;
	position: relative;
}

.bj-chipsContainer{
	background-color: black;
	border: 2px solid white;
	height:100px;
	border-radius: 5px;
	padding-top: 18px;
	padding-left: 5px;
	width: 600px;
	float: left;
	position: relative;
}

.bj-option{
	background-color: black;
	border: 2px solid white;
	height: 100px;
	width: 350px;
	border-radius: 5px;
	float:right;
}

.bj-chip{
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	width: 60px;
	text-align: center;
	padding-top: 14px;
	color: black;
	font-size: 20px
}

#bj-chip1{
	background-image: url("./img/chip1.png");
	background-size: cover;
}

#bj-chip5{
	background-image: url("./img/chip5.png");
	background-size: cover;
}

#bj-chip25{
	background-image: url("./img/chip25.png");
	background-size: cover;
}

#bj-chip50{
	background-image: url("./img/chip50.png");
	background-size: cover;
}

#bj-chip100{
	background-image: url("./img/chip100.png");
	background-size: cover;
}

#bj-chip500{
	background-image: url("./img/chip500.png");
	background-size: cover;
}

.bj-bankroll{
	color: white;
	display: inline-block;
	text-align: center;
	position: absolute;
	right: 40px;
}

.bj-deal{
	width: 120px;
	position: absolute;
	top: 30px;
}

.bj-bet-amount{
	font-size: 30px;
	display: inline-block;
	margin: 24px 15px 0px 70px;
	color: white;
}

.bj-hit{
	width: 120px;
	margin: 30px 10px 0px 45px;
}

.bj-stand{
	width: 120px;
	margin-top: 30px;
}

.bj-bank-text{
	margin-bottom: 5px;
}

.bj-bet-phase{
	width: 100%;
	height: 100%;
	position: relative;
}

.bj-hit-phase{
	width: 100%;
	height: 100%;
	position: relative;
}

.hide{
	display: none;
}

.bj-dealer{
	width: 250px;
	height: 130px;
	position: absolute;
	top: 80px;
	left: 490px;
}

.bj-player{
	width: 250px;
	height: 130px;
	position: absolute;
	bottom: 100px;
	left: 490px;
}

.bj-card{
	background-size: contain;
	height: 114px;
	width: 80px;
	display: inline-block;
	margin-left: -63px;
}

.bj-hiddenCard{
	background-image: url("./img/backside.png");
	background-size: contain;
	height: 114px;
	width: 80px;
	display: inline-block;
	position: absolute;
	left: -63px;
}


/*____________TICTACTOE____________*/

.tictactoe{
	background-color: #F5E050;
}

.toe-top{
	background-color: #F5E050;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 30px;
	color: white;
	letter-spacing: 15px;
}

.toe-body{
	width: 950px;
	height: 640px;
	margin: auto;
	background-color: white;
	border-radius: 3%
}

.toe-bot{
	background-color: #1E6A9F;
	width: 100%;
	height: 60px;
}

.toe-welcome{
	background-image: url("img/minionsBg.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: bottom;
}

.header{
	width: 320px;
	height: 130px;
	position: absolute;
	background-image: url("img/minionText.jpg");
	top: 90px;
	left: 600px;
	background-size: 100%;
}

.start {
  font-family: Arial;
  color: #095573;
  font-size: 50px;
  padding: 10px 20px 10px 20px;
  border: solid #095573 5px;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 450px;
  background-color: #FCE94D;
	border-radius: 30%;
}

.start:hover {
  background: #57d1f0;
}

.nameField{
	border: 3px solid #095573;
	width: 220px;
	padding: 10px;
	margin-top: 50px;
	margin-left: 50px;
	position: absolute;
}

.name1Input{
	margin-bottom: 20px;
}

.toe-main{
	background-color: #1E6A9F;
	height: 100%;
	width: 100%;
	position: relative;
	border-radius: 3%;
}

.box {
	width: 160px;
	height: 160px;
	display: inline-block;
	margin: 10px;
	background-image: url("img/minionO.jpg");
	background-size: 100%;
}

.container{
	height: 100%;
	width: 600px;
	padding-left: 30px;
}

.playButton{
	height: 80px;
	width: 400px;
	background-image: url("img/playAgain.jpg");
	position: absolute;
	bottom: 8px;
	left: 280px;
	font-size: 20px;
	background-size: 100%;
}	

.scoreBoard1{
	text-align: center;
	width: 150px;
	position: absolute;
	top: 80px;
	left: 30px;
}

.scoreBoard2{
	text-align: center;
	width: 150px;
	position: absolute;
	top: 80px;
	right: 30px;
}

.name1{
	color: orange;
	font-size: 20px;
	font-family: sans-serif;
}

.name2{
	color: orange;
	font-size: 20px;
	font-family: sans-serif;
}

.opic{
	background-image: url("img/bananaO.png");
	background-size: 100%;
	border-radius: 50%;
}

.xpic{
	background-image: url("img/bluegX.jpg");
	background-size: 100%;
	border-radius: 50%;
}




/*____________HOVER.CSS____________*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



